@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
    color: rgb(15, 23, 42);
}

body.fixed-body {
    overflow:hidden
}
.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.custom-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.custom-scroll::-webkit-scrollbar:vertical {
  width:8px;
}

.custom-scroll::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

.custom-scroll::-webkit-scrollbar:horizontal {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 8px;  
}

/* Loading */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #93c5fd;
    animation: prixClipFix 1s linear infinite ;
  }
  .loader::after{
    border-color: #1d4ed8;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }